---
import { basics } from '@cv'
import Section from '@/components/section.astro'
import GitHub from '@/icons/GitHub.astro'
import LinkedIn from '@/icons/LinkedIn.astro'
import Mail from '@/icons/Mail.astro'
import Phone from '@/icons/Phone.astro'
import WorldMap from '@/icons/WorldMap.astro'
import PdfIcon from '@/icons/pdf.astro'

const { name, label, image, location, profiles, phone, email} = basics
const { city, region, countryCode } = location

const SOCIAL_ICONS: Record<string, any> = {
    GitHub,
    LinkedIn,
}

const linkedInfo = profiles.find(({ network }) => network === "LinkedIn")
const linkedUrl = linkedInfo?.url

const printInfo = [email, phone, linkedUrl].filter(Boolean).join(" • ")
---

<Section>
    <div class="container">
        <div class="info">
            <h1>{name}</h1>
            <h2>{label}</h2>
            <span>
                <WorldMap />
                {city}, {region}, {countryCode}
            </span>
            <footer class="print">
                {printInfo}
            </footer>
            <footer class="no-print">
                {
                    email && (
                        <a
                            href={`mailto:${email}`}
                            title={`Send an email to ${name} at ${email}`}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <Mail />
                        </a>
                    )
                }
                {
                    phone && (
                        <a
                            href={`tel:${phone}`}
                            title={`Call ${name} to ${phone}`}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <Phone />
                        </a>
                    )
                }
                {
                    profiles.map(({ network, url }) => {
                        const Icon = SOCIAL_ICONS[network]

                        return (
                            <a 
                            href={url}
                            title={`Visit ${name} profile in ${network}`}
                            target="_blank"
                            rel="nooper noreferrer"
                            >
                                <Icon />
                            </a>
                        )
                    })
                }
                <a 
                    href="/portfolio.pdf"
                    title={`Download PDF version of ${name}'s portfolio`}
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <PdfIcon />
                </a>
            </footer>
        </div>
        <figure>
            <img src={image} alt={name} />
        </figure>
    </div>
</Section>

<style>
    .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }
  
    .info {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding-right: 32px;
    }
  
    h1 {
      font-size: 2rem;
      color: var(--h2-color);
    }
  
    h2 {
      color: var(--h2-color);
      font-weight: 500;
      font-size: 1.1rem;
      text-wrap: balance;
    }
  
    img {
      aspect-ratio: 1 / 1;
      object-fit: cover;
      width: 128px;
      border-radius: 16px;
    }
  
    span {
      color: var(--text-color);
      display: flex;
      align-items: center;
      gap: 0.25rem;
      font-size: 0.85rem;
      letter-spacing: -0.05rem;
    }
  
    footer {
      color: var(t--time-color);
      font-size: 0.65rem;
      display: flex;
      gap: 4px;
      margin-top: 8px;
      margin-bottom: 8px;
    }
  
    footer a {
      color: var(--a-color);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #eee;
      padding: 4px;
      height: 32px;
      width: 32px;
      border-radius: 6px;
      transition: all 0.3s ease;
    }
  
    footer a:hover {
      background: var(--background-color);
      border: 1px solid #ddd;
    }
  
    @media (width <= 700px) {
      .container {
        flex-direction: column-reverse;
      }
  
      .info {
        justify-content: center;
        align-items: center;
        padding-right: 0;
        text-align: center;
      }
  
      figure {
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      h2 {
        text-wrap: balance;
      }
  
      figure {
        margin: 0 auto;
      }
    }
  </style>
  